<ion-header>
  <ion-toolbar>
    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <form [formGroup]="locationForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item color="ligth" lines="full">
      <ion-searchbar show-clear-button="focus" placeholder="Enter City" formControlName="city"></ion-searchbar>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.city.errors?.required">
      City is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.city.errors?.pattern">
      Please provide valid city.
    </span>
    <ion-button class="add-button" type="submit" color="tertiary" expand="block">Add</ion-button>
  </form>
  <ion-list [inset]="true" *ngIf="favouriteLocations.length > 0">
    <ion-item-sliding *ngFor="let location of favouriteLocations">
      <ion-item [routerLink]="['/home',location.id]">
        <ion-label>{{location.city}}</ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="onDeleteClick(location.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>