<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Weather</ion-title>
    <ion-button [routerLink]="['/locations']">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <home-location-detail [weatherData]="response" [location]="location">
  </home-location-detail>
  <!-- <ion-slides pager="true" [options]="slideOpts" (ionSlideDidChange)="onDidChange($event)">
    <ion-slide *ngFor="let loc of locations">
      <home-location-detail [weatherData]="response" [location]="loc">
      </home-location-detail>
    </ion-slide>
  </ion-slides> -->
</ion-content>