<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'Back'" [routerLink]="['/locations']"></ion-back-button>
    </ion-buttons>
    <ion-title>{{location?.city}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary" [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <home-location-detail [weatherData]="response" [location]="location">
  </home-location-detail>
</ion-content>