<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> My Weather </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div>
    <span>Milan</span>
    <br>
    <span>{{response?.current_weather?.time | date:'fullDate'}}</span>
    <br>

    <!-- icon? -->
    <!-- description? -->

    <span>{{response?.current_weather?.temperature}}</span>

    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let day of response?.daily?.time">{{day | day}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let maxTemp of response?.daily?.temperature_2m_max">{{maxTemp}}°C</ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let minTemp of response?.daily?.temperature_2m_min">{{minTemp}}°C</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
